{% extends 'base/main.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<div id="app">
<div class="top-bar">
    <a href="{% url 'tasks' %}">&#x1F860;</a>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{task}}"?</p>
        <input class="button" type="submit" value="Delete">
    </form>
</div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: 'Hello from Vue!',
            };
        },
    });
    app.mount('#app');
</script>
{% endblock content %}